
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: normal 1em/1.3em Cairo;
}

ul, ol, dl {
    list-style-type: none;
}

a, a:visited, a:active {
    text-decoration: none;
}

body {
    background-color: #f3f3f3;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    height: 50px;
    overflow: hidden;
    background-color: #000000c4;
    width: 100%;
    position: relative;
    position: fixed;
    top: 0;
    z-index: 9999
}

.header .logo {
    display: inline-block;
    padding: 5px;
}

.header .logo img {
    height: 40px;
}

.header ul.main-navbar {
    display: inline-block;
    list-style: none;
    position: absolute;
    top: 0;
    right: 10%;
}
.header ul.main-navbar li {
    display: inline-block;
    padding: 1.5em 5px 8px;
    color: #ffffff;
    position: relative;
    font: bold 16px/1 Cairo;
}
.header ul.main-navbar li i.fa,
.header ul.main-navbar li i.fas,
.header ul.main-navbar li i.fab {
    display: inline-block;
    margin: 0 5px 0 0;
    color: #c7c8c9;
}

.header ul.main-navbar li:after {
    content: "";
    height: 3px;
    width: 0;
    background:#0d65eb ;
    position: absolute;
    bottom: 0;
    left: 0
}

.header ul.main-navbar li:hover:after {
    width: 100%;
    transition: all .4s ease-in-out;
}
.header ul.main-navbar li:first-child:after {
    width: 100%;
    transition: all .4s ease-in-out;
}

/* sections Style */
/* Welcome Section */

.section {
    height: 95vh;
    overflow: hidden;
    position: relative;
}

.section.cta {
    background: url('../images/spmUM.png');
    background-size: contain;
    background-attachment: fixed;
}
.overlay {
    width: 100%;
    height: 100%;
    background: #000000aa;
}

.section.cta .overlay .content {
    width: 60%;
    margin: auto;
    padding-top: 100px;
}

.section .section-heading {
    display: flex;
    justify-content: center;
}

.section.featured .section-heading h2,
.section.welcome .section-heading h2,
.section.cta .section-heading h2 {
    font: bolder 40px/1.5em Cairo;
    color: #fff;
    display: inline-block;
    margin: 1em auto;
    text-transform: uppercase;
}
.section.cta ul li {
    color: #dedede;
    font: normal 18px/1.5 "Cairo light"
}

.section.cta .buttons {
    text-align: center;
    padding: 1em;
}
.section.cta .buttons button {
    font: bold 18px/1.5 cairo;
    padding: 8px 16px;
    outline: none;
    border: none;
    color: #ccc;
    display: inline-block;
    margin: 3px;
    transition: all .4s ease;
}
.section.cta .buttons button.btn-start {
    background:#0847a5 ;
}
.section.cta .buttons button.btn-start:hover {
    background:#0066ff ;
    color: #fff;
}

.section.cta .buttons button.btn-more {
    background:#0e5e43 ;
    
}
.section.cta .buttons button.btn-more:hover {
    background:#21be8a ;
    color: #fff;
}

/* Welcome to website section styles */
.content {
    width: 80%;
    margin: auto;
}

.section h2 {
    transition: all .5s ease-in-out;
    position: relative;
    padding: 0 0.5em;
    font: bold 40px/1.5 Cairo;
    text-transform: uppercase;
}

.section h2:after {
    content: "";
    transition: all .3s ease-in-out;
    display: block;
    position: absolute;
    height: 10px;
    width: 100px;
    top: 100%;left: 0;
}
.section.pricing .section-heading h2:after,
.section.offers .section-heading h2:after,
.section.welcome .section-heading h2:after {
    background-color: #0153cfaa;
}
.cta h2:after,
.section.team .section-heading h2:after,
.featured h2:after {
    background-color: #f8f8f8aa;
}


.section h2:hover:after {
    width: 100%;
}

.section.team .section-heading h2,
.section.cta .section-heading h2,
.section.featured .section-heading h2 {
    color: #ffffff ;
}

.section.pricing .section-heading h2,
.section.offers .section-heading h2,
.section.welcome .section-heading h2 {
    color: #0153cfaa ;
}

/* .section ul.items {
    /* border: 1px solid #ccc; */
/* }  */

.section ul.items li.item {
    display: inline-block;
    width: 28%;
    margin: 0 2.5%;
    height: 300px;
    position: relative;
    z-index: 3;
    background-color: #ebebebef;
    border: 1px solid #ccc;
}

.section ul.items li.item .item-icon {
    font-size: 2.4em;
    text-align: center;
    padding: 0.3em;
    color: #5e5e5e;
    
}
.section ul.items li.item:before {
    content: "";
    display: block;
    background-color: #0153cf6e;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.section.welcome ul.items li.item:hover:before  {
    width: 100%;
    height: 100%;
}
.section ul.items li.item .item-title h3 {
    padding: 0 1.2em;
    font: 700 24px/1.5 Cairo;
    text-align: center;
    text-transform: uppercase;
    color:  #5e5e5e;
}


.section ul.items li.item .item-feature p {
    padding: 0 1.2em;
    color:  #5e5e5e;
    text-align: justify;
}

.section ul.items li.item .item-link {
    overflow: hidden;
    text-align: right;
    padding: 20px;
}

.section ul.items li.item .item-link button {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 8px 18px;
    background-color: #5e5e5e;
    color: #fff;
    transition: all 0.6s .3s ease-in-out;
}
.section.welcome ul.items li.item:hover .item-icon,
.section.welcome ul.items li.item:hover .item-title h3,
.section.welcome ul.items li.item:hover .item-feature p,
.section.welcome ul.items li.item:hover .item-link{
    color: #fff;
    
}
.section.welcome ul.items li.item:hover .item-link button {
    background-color: #fff;
    color: #0153cf;
    cursor: pointer;
}

.section.featured {
    background-color: #aaa;
    height: 125vh;
}
.section.team {
    background-color: #043b8da8;
    height: 125vh;
}

.section.team ul.items li.item,
.section.featured ul.items li.item {
    margin-bottom: 2em;
    background-size: 100% auto;
    transition: all 1s ease-in-out;
}

.section.featured ul.items li.item:nth-child(1) {
    background-image: url('../images/team-5.jpg');
}

.section.featured ul.items li.item:nth-child(2) {
    background-image: url('../images/team-4.jpg');
}

.section.featured ul.items li.item:nth-child(3) {
    background-image: url('../images/marie.jpg');
}

.section.featured ul.items li.item:nth-child(4) {
    background-image: url('../images/ivana-square.jpg');
}

.section.featured ul.items li.item:nth-child(5) {
    background-image: url('../images/ivana-squares.jpg');
}

.section.featured ul.items li.item:nth-child(6) {
    background-image: url('../images/bruce-mars.jpg');
}

.section.team ul.items li.item:nth-child(1) {
    background-image: url('../images/f1.png');
}

.section.team ul.items li.item:nth-child(2) {
    background-image: url('../images/f2.png');
}

.section.team ul.items li.item:nth-child(3) {
    background-image: url('../images/f3.jpg');
}

.section.team ul.items li.item:nth-child(4) {
    background-image: url('../images/f4.jpg');
}

.section.team ul.items li.item:nth-child(5) {
    background-image: url('../images/f5.png');
}

.section.team ul.items li.item:nth-child(6) {
    background-image: url('../images/f6.jpg');
}

.section.team ul.items li.item:before ,
.section.featured ul.items li.item:before {
    content: "";
    display: block;
    width: 100%;
    height: 0%;
    background-color: #00000055;
    transition: all .5s ease-in-out;
}

.section.team ul.items li.item:hover:before,
.section.featured ul.items li.item:hover:before {
    height: 100%;
}


.section.team ul.items li.item .item-title h3 {
    padding-top: 20%;
    color: rgb(255, 255, 255);
}
.section.featured ul.items li.item .item-title h3 {
    padding-top: 50%;
    color: rgb(255, 255, 255);
}

.section.team ul.items li.item .item-feature p,
.section.featured ul.items li.item .item-feature p {
    color: rgb(255, 255, 255);
    text-align: center;
    font: 600 18px /1.2 Cairo;
}
.section.team ul.items li.item .item-buttons,
.section.featured ul.items li.item .item-buttons {
    text-align: center;
    padding: 1em;
}

.section.team ul.items li.item .item-buttons i,
.section.featured ul.items li.item .item-buttons i {
    font-size: 30px;
    padding: 4px;
    color: aliceblue;
    border: 1px solid aliceblue
}

.section.team ul.items li.item .item-title h3,
.section.team ul.items li.item .item-feature p,
.section.team ul.items li.item .item-buttons,
.section.featured ul.items li.item .item-title h3,
.section.featured ul.items li.item .item-feature p,
.section.featured ul.items li.item .item-buttons {
    transition: all .5s .3s ease-in-out;
    opacity: 0;
}
.section.team ul.items li.item:hover .item-title h3,
.section.team ul.items li.item:hover .item-feature p,
.section.team ul.items li.item:hover .item-buttons,
.section.featured ul.items li.item:hover .item-title h3,
.section.featured ul.items li.item:hover .item-feature p,
.section.featured ul.items li.item:hover .item-buttons {
    opacity: 1;
}

.section.team ul.items li.item:hover,
.section.featured ul.items li.item:hover {
    background-size: 105%;
    background-position: 5% 5%;
}

/* Offers Section Styles */

.section.offers ul li.item {
    padding-top: 2em;
    height: 200px;
    margin-bottom: 2em;
    text-align: center;
}
.section.offers ul li.item h3 {
    display: inline-block;
}

.section.offers ul li.item .item-title i {
    font-size: 30px;
}


.section.offers ul li.item:before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
background-color: #fff;
}
.section.offers ul li.item:hover:before {
    height: 100%
}

/* Why Us section styles */

.section.us {
    background-color: #ccc;
}

.section.us .content {
    padding: 15vh 0;
}

.section.us .content .half {
    text-align: left;
    display: inline-block;
    gap: 0;
    width: 49%;
    height: 60vh;
}

.section.us .content .half.right {
    background-image: url('../images/room.jpg');
    background-size: contain;
    background-clip: padding-box;
}

.section.us .content .half .section-heading {
    display: block;
    margin-top: 0;
}

.section.us .content .half p {
    width: 90%;
    margin: 30px 0;
    font: 200 20px/1.4 "Cairo";
}

.section.us .half ul li.feature {
    font: 500 22px/1.4 "Cairo";
    color: rgb(18, 83, 47);
    margin-bottom: 8px;
}

.section.us .half ul li i {
    color: #44aa55;
    padding: 4px;
    border: 2px solid;
}

.section.us .content .half .section-heading h2 {
    color: #0847a5;
    padding: 0;
}

/* Sales Section Styles */

.section.sales {
    height: 50vh;
    background: url('../images/bg1.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

.section.sales .overlay {
    background: #000000d1;
    color: #fff;
}


.section.sales .sale {
    display: inline-block;
    width: 24.5%;
    margin-top: 70px;
}

.section.sales .sale i {
    display: block;
    text-align: center;
    font-size: 3em;
}

.section.sales .sale span.number {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 16px auto; 
    font-size: 3em;
}

.section.sales .sale p {
    text-align: center;
    font-size: 1.4em;
}

/* Pricing Section Styles */

.section.pricing .content {
    padding: 40px 0;
}

.section.pricing .pricing-items {
    width: 900px;
    margin: 40px auto;
}

.section.pricing .pricing-items .item {
    display: inline-block;
    width: 280px;
    border: 2px solid #00408855;
    margin: 0 8px 18px;
    white-space: 0;
    background-color: #efefef;
}

.section.pricing .pricing-items .item .item-title {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin: 8px auto 16px;
}

.section.pricing .pricing-items .item .item-price {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    border: 2px solid #004080;
    margin: auto;
    color: #004080;
    background-color: #00408022;
}

.section.pricing .pricing-items .item .item-price span {
    color: #004080;
}

.section.pricing .pricing-items .item .item-price-caption {
    text-align: center;
    font-size: 9px;
    color: #004080;
    margin-bottom: 40px;
}

.section.pricing .pricing-items .item .item-feature {
    text-align: center;
    color: #00408055;
}

.section.pricing .pricing-items .item .item-feature:hover {

    color: #004080;
    background-color: #00408022;
}

.section.pricing .pricing-items .item .item-button {
    width: 120px;
    margin: 50px auto 24px;
    border: 1px solid #004080;
    text-align: center;
    outline: 1px solid #004080;
    background-color: #004080;
    color: #fff;
    outline-offset: 2px;
}

/* Testimonials Section Styles */
.section.testimonials {
    background-attachment: fixed;
}
.section.testimonials .overlay {
    background: #00000055;
}
.section.testimonials .content {
    position: relative;
    overflow: hidden;
}

.section.testimonials .persons {
    margin: 100px auto ;
    text-align: center;
}

.section.testimonials .person {
    display: inline-block;
    width: 300px;
    overflow: hidden;
    color: #fff;
}

.section.testimonials .person .person-img,
.section.testimonials .person .person-name {
    display: inline-block;
    vertical-align: top;
}

.section.testimonials .person .person-img {
    width: 66px;
    height: 66px;
    padding: 8px;
}

.section.testimonials .person .person-img img {
    display: inline-block;
    border-radius: 50%;
    height: 100%;
}

.section.testimonials .person .person-name h3 {
    font: bold 20px/1.5 Cairo;
    padding: 6px 10px
}


.section.testimonials .person .person-name p {
    font: bold 12px/1.5 Cairo;
    padding: 0 10px
}

.section.footer {
    background-color: #222;
    height: 30vh;  
    text-align: center;
    padding: 100px 0;
}

.section.footer i {
    display: inline-block !important;
    font-size: 30px;
    line-height: 56px;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    color: #fff;
}
.section.footer p {
    font-size: 1.2em;
    line-height: 1.7em;
    color: #ccc;
    text-transform: capitalize;
}

.section.footer p sup {
    font-size: .6em;
    color: #d7f6ff
}
.section.footer i.fa-facebook-f {background-color: blue;}
.section.footer i.fa-twitter {background-color: rgb(25, 165, 207);}
.section.footer i.fa-linkedin-in  {background-color: rgb(59, 123, 207);}
.section.footer i.fa-instagram {background-color: rgb(142, 4, 221);}
.section.footer i.fa-whatsapp {background-color: rgb(6, 117, 93);}
.section.footer i.fa-youtube {background-color: red;}
.section.footer i.fa-telegram-plane {background-color: rgb(27, 78, 119);}
